

  <nav id="navbar-example2" class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Caelumpic</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Fotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
      </li>
    
    </ul>
  </nav>

  
    <cabecalho [title]="title | uppercase" [subtitle]="subtitle"></cabecalho>




<div class="container">
  <form (submit)="cadastraFoto($event)" #formCadastro="ngForm">
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" 
             name="url" 
             #campoUrl="ngModel"
             required
             class="form-control" 
             id="url" 
             placeholder="URL"
             [(ngModel)]=foto.url>
             <span class="text-danger font-italic" *ngIf="campoUrl.invalid && !campoUrl.pristine">Preencha o Campo</span>
    </div>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" 
             name="titulo"  
             #campoTitulo="ngModel"
             required
             class="form-control" 
             id="titulo" 
             placeholder="Titulo"
             [(ngModel)]=foto.titulo>
             <span class="text-danger font-italic" *ngIf="campoTitulo.invalid && !campoTitulo.pristine">Preencha o Campo</span>

    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea name="descricao" 
                class="form-control" 
                id="descricao" 
                placeholder="Descrição"
                [(ngModel)]="foto.descricao">
      </textarea>
    </div>
    <div class="row" *ngIf="foto._id">
      <h1 class="col-12">Preview</h1>
      <card class="col-6" 
              [titulo]="foto.titulo" 
              [descricao]="foto.descricao">
        <foto url="{{foto.url}}" 
              [titulo]="foto.descricao"></foto>
      </card>
        
    </div>

    <div class="row justify-content-end mb-5">
      <button type="submit" class="btn btn-outline-success" [disabled]="formCadastro.form.invalid">
        {{textoBotao}}
      </button>
      <a class="ml-2 btn btn-outline-secondary" [routerLink]="['/']">Voltar</a>
    </div>
    
  </form>
</div>